<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <a routerLink="">Compouter</a>
<a routerLink="entc">Eletronics</a>
<a routerLink="mech">Mechanical</a>
<a routerLink="civil">Civil</a> -->
<!-- <a routerLink="">College</a>
<a routerLink="hostel">Hostel</a>
<a routerLink="hospital">Hospital</a>
<a routerLink="bus">Bus</a>-->
<a routerLink="book">Book</a>
<a routerLink="circle">Circle</a>
<a routerLink="ractangle">Rectangle</a>
<a routerLink="area">Area</a>

<!-- <a routerLink='harry'>Harry</a> -->
<router-outlet></router-outlet> 